numpy
opencv-python
Pillow
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
WTForms
pandas
reportlab
imagehash
SQLAlchemy
dlib-bin
face-recognition
face-recognition-models
click
itsdangerous
Jinja2
MarkupSafe
Werkzeug
python-dateutil
pytz
six
typing-extensions
colorama
blinker
greenlet
scipy
PyWavelets
tzdata
wmi
